/* COLORS */

$primary: #f2e9e4;
$secondary: #28457a;
$third: #656D4A;
$white: white;

/*TAMAÑO LETRA*/

$texth1: 4rem;
$texth2: 2.7rem;
$texth2mediaqueries: 2.1rem;
$texth3: 3rem;
$textp: 1.8rem;
$textpmediaqueries: 1.5rem;
$textlabel: 1.3rem;

/*UBICACION TEXTO*/

$centrado: center;