<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="FOTOS, CÁMARA, FOTOGRAFÍA, FOTÓGRAFO, FOTÓGRAFA, FOTÓGRAFOS, PHOTOGRAPHER, QUIENES SOMOS, CHICOS FOTÓGRAFOS, TOMMY CLICKEANDO HISTORIAS, LALI CLICKEANDO HISTORIAS">
    <meta name="description" content="Breve reseña de las personas que hacemos realidad Clickeando Historias">
    <title>404 - Clickeando Historias</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body class="container">

    <main class="contenido__404">

        <h1 class="contenido__404__titulo">ERROR 404</h1>
        <p class="contenido__404__texto">
            PÁGINA NO ENCONTRADA
        </p>
        <div class="contenido__404__boton">
            <a class="contenido__404__boton__enlace" href="../index.html">HOME</a>
        </div>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>


</body>

</html>