<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="FOTOS, CÁMARA, FOTOGRAFÍA, FOTÓGRAFO, FOTÓGRAFA, FOTÓGRAFOS, PHOTOGRAPHER, QUIENES SOMOS, CHICOS FOTÓGRAFOS, TOMMY CLICKEANDO HISTORIAS, LALI CLICKEANDO HISTORIAS">
    <meta name="description" content="Breve reseña de las personas que hacemos realidad Clickeando Historias">
    <title>Quienes Somos - Clickeando Historias</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body class="container">

    <!--inicio header-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light header">
            <div class="container-fluid ">
                <a class="navbar-brand" href="../index.html"><img class="logo" src="../public/logos/camara.svg" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="btn btn-outline-light nav-item">
                            <a class="nav-link--boton" aria-current="page" href="../index.html">Home</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <!--fin header-->

    <section>
        <h1>Quienes Somos</h1>
    </section>

    <section class="subtitulo__centrado">
        <p class="subtitulo__centrado__p">
            Hacemos lo que hacemos porque disfrutamos mucho de la fotografía. Nos motiva mucho saber que podemos transmitir emociones (propias o ajenas) con nuestras fotos. Por un lado, la fotografía es nuestro cable a tierra, nuestro modo de expresarnos y contar
            cómo vemos el mundo, lo que nos rodea. Nos gusta dar una mirada positiva y optimista de las cosas, transmitiendo armonía de formas, figuras y colores. Disfrutamos el desafío de transformar escenas “comunes y ordinarias” en imágenes que despierten
            la curiosidad y la creatividad, que se puedan disfrutar sólo con verlas. Por otro lado, estamos convencidos de la importancia de mantener vivos y presentes nuestros “mejores recuerdos”, los más alegres y emotivos. Y en eso, la fotografía tiene
            un tremendo poder, permitiéndonos con una simple imagen revivir muchas emociones que nuestra frágil memoria no podría abarcar sola. Razón suficiente para esforzarnos tanto por captar momentos reales, espontáneos y sinceros, que son los que
            más despiertan nuestra memoria emotiva. Ese es nuestro trabajo y agradecemos si nos eligen poder hacerlo.
        </p>
    </section>

    <main>
        <section class="contenedor bg-light">
            <div class="contenedor__texto">
                <h1 class="contenedor__titulo">Lali</h1>
                <p class="subtitulo__centrado__p">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dolorem officia perspiciatis inventore id voluptate repellendus non, laudantium voluptatibus modi harum omnis? Qui natus fugiat vero in, minus quibusdam repudiandae! Lorem ipsum dolor sit
                    amet, consectetur adipisicing elit. Nihil, provident quod. Debitis saepe alias provident voluptas magnam repudiandae itaque harum facilis. Dolorem tempora iste quam adipisci, expedita ea voluptate alias? Lorem ipsum, dolor sit amet
                    consectetur adipisicing elit. Provident excepturi, voluptates consequatur numquam voluptate perferendis dolorem exercitationem sapiente saepe ad ab, atque laudantium voluptatibus obcaecati laboriosam architecto, neque fugit nostrum.Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Magni dolorem officia perspiciatis inventore id voluptate repellendus non, laudantium voluptatibus modi harum omnis? Qui natus fugiat vero in, minus quibusdam repudiandae! Lorem ipsum
                    dolor sit amet, consectetur adipisicing elit. Nihil, provident quod. Debitis saepe alias provident voluptas magnam repudiandae itaque harum facilis. Dolorem tempora iste quam adipisci, expedita ea voluptate alias? Lorem ipsum, dolor
                    sit amet consectetur adipisicing elit. Provident excepturi, voluptates consequatur numquam voluptate perferendis dolorem exercitationem sapiente saepe ad ab, atque laudantium voluptatibus obcaecati laboriosam architecto, neque fugit
                    nostrum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dolorem officia perspiciatis inventore id voluptate repellendus non, laudantium voluptatibus modi harum omnis? Qui natus fugiat vero in, minus quibusdam repudiandae!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, provident quod. Debitis saepe alias provident voluptas magnam repudiandae itaque harum facilis. Dolorem tempora iste quam adipisci, expedita ea voluptate alias? Lorem
                </p>
            </div>
            <div class="contenedor__imagen">
                <img class="contenedor__imagen__img" src="../public/img/img.quienesSomos/mujer foto3.jpg" alt="">
            </div>
        </section>

        <section class="contenedor__2">
            <div class="contenedor__texto">
                <h1 class="contenedor__titulo">Tommy</h1>
                <p class="subtitulo__centrado__p">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dolorem officia perspiciatis inventore id voluptate repellendus non, laudantium voluptatibus modi harum omnis? Qui natus fugiat vero in, minus quibusdam repudiandae! Lorem ipsum dolor sit
                    amet, consectetur adipisicing elit. Nihil, provident quod. Debitis saepe alias provident voluptas magnam repudiandae itaque harum facilis. Dolorem tempora iste quam adipisci, expedita ea voluptate alias? Lorem ipsum, dolor sit amet
                    consectetur adipisicing elit. Provident excepturi, voluptates consequatur numquam voluptate perferendis dolorem exercitationem sapiente saepe ad ab, atque laudantium voluptatibus obcaecati laboriosam architecto, neque fugit nostrum.Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Magni dolorem officia perspiciatis inventore id voluptate repellendus non, laudantium voluptatibus modi harum omnis? Qui natus fugiat vero in, minus quibusdam repudiandae! Lorem ipsum
                    dolor sit amet, consectetur adipisicing elit. Nihil, provident quod. Debitis saepe alias provident voluptas magnam repudiandae itaque harum facilis. Dolorem tempora iste quam adipisci, expedita ea voluptate alias? Lorem ipsum, dolor
                    sit amet consectetur adipisicing elit. Provident excepturi, voluptates consequatur numquam voluptate perferendis dolorem exercitationem sapiente saepe ad ab, atque laudantium voluptatibus obcaecati laboriosam architecto, neque fugit
                    nostrum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dolorem officia perspiciatis inventore id voluptate repellendus non, laudantium voluptatibus modi harum omnis? Qui natus fugiat vero in, minus quibusdam repudiandae!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, provident quod. Debitis saepe alias provident voluptas magnam repudiandae itaque harum facilis. Dolorem tempora iste quam adipisci, expedita ea voluptate alias? Lorem
                </p>
            </div>
            <div>
                <img class="contenedor__imagen__img" src="../public/img/img.quienesSomos/varon foto2.jpg" alt="">
            </div>
        </section>
    </main>







    <!--inicio footer-->
    <footer class="bg-light">
        <section class="position">
            <div>
                <p>Clickeando Historias - Todos los Derechos Reservados 2021</p>
            </div>

            <nav>
                <div>
                    <picture>
                        <a href=""><img src="../public/logos/mail.svg" alt=""></a>
                        <a href="https://www.instagram.com/?hl=es"><img src="../public/logos/instagram.svg" alt=""></a>
                    </picture>
                </div>
            </nav>
        </section>
    </footer>
    <!--fin footer-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>


</body>

</html>