<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="FOTOS, CÁMARA, FOTOGRAFÍA, FOTÓGRAFO, FOTÓGRAFA, FOTÓGRAFOS, PHOTOGRAPHER, QUIENES SOMOS, CHICOS FOTÓGRAFOS, TOMMY CLICKEANDO HISTORIAS, LALI CLICKEANDO HISTORIAS">
    <meta name="description" content="Breve reseña de las personas que hacemos realidad Clickeando Historias">
    <title>Quienes Somos - Clickeando Historias</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body class="container">

    <!--inicio header-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light header">
            <div class="container-fluid ">
                <a class="navbar-brand" href="../index.html"><img class="logo" src="../public/logos/camara.svg" alt="logo de una camara"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="btn btn-outline-light nav-item">
                            <a class="nav-link--boton" aria-current="page" href="../index.html">Home</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <!--fin header-->

    <section>
        <h1>Quienes Somos</h1>
    </section>

    <section class="subtitulo__centrado">
        <p class="subtitulo__centrado__p">
            Hacemos lo que hacemos porque disfrutamos mucho de la fotografía. Nos motiva mucho saber que podemos transmitir emociones (propias o ajenas) con nuestras fotos. Por un lado, la fotografía es nuestro cable a tierra, nuestro modo de expresarnos y contar
            cómo vemos el mundo, lo que nos rodea. Nos gusta dar una mirada positiva y optimista de las cosas, transmitiendo armonía de formas, figuras y colores. Disfrutamos el desafío de transformar escenas “comunes y ordinarias” en imágenes que despierten
            la curiosidad y la creatividad, que se puedan disfrutar sólo con verlas. Por otro lado, estamos convencidos de la importancia de mantener vivos y presentes nuestros “mejores recuerdos”, los más alegres y emotivos. Y en eso, la fotografía tiene
            un tremendo poder, permitiéndonos con una simple imagen revivir muchas emociones que nuestra frágil memoria no podría abarcar sola. Razón suficiente para esforzarnos tanto por captar momentos reales, espontáneos y sinceros, que son los que
            más despiertan nuestra memoria emotiva. Ese es nuestro trabajo y agradecemos si nos eligen poder hacerlo.
        </p>
    </section>

    <main>
        <section class="contenedor bg-light">
            <div class="contenedor__texto">
                <h1 class="contenedor__titulo">Lali</h1>
                <p class="subtitulo__centrado__p">
                    Mi nombre es Lali, soy fotógrafa y diseñadora gráfica. Aunque hace algunos años solo me dedico a la fotografía, la cual comenzó como un pasatiempos y poco a poco se fue ganando un lugar fundamental en mi vida. Estoy convencida de la importancia de mantener
                    vivos y presentes nuestros mejores recuerdos, los más alegres y emotivos. Y en eso, la fotografía tiene un enorme poder, permitiéndonos con una simple imagen revivir muchas emociones que nuestra memoria no podría abarcar por si sola.
                    Lo que más me gusta hacer es dejar que todo fluya y esperar esos instantes inesperados, para captarlos en un click.
                </p>
            </div>
            <div class="contenedor__imagen">
                <img loading="lazy" class="contenedor__imagen__img" src="../public/img/img.quienesSomos/mujer foto3.jpg" alt="mujer sacando una foto">
            </div>
        </section>

        <section class="contenedor__2">
            <div class="contenedor__texto">
                <h1 class="contenedor__titulo">Tommy</h1>
                <p class="subtitulo__centrado__p">
                    Me llamo Tommy , soy fotógrafo y Contador en la Ciudad de Rosario, Santa Fe. Nací en Rosario y actualmente vivo aquí pero no tengo límites geográficos, por lo que realizo trabajos en toda Argentina y el exterior. Vengo de una familia de Contadores, mi
                    mama Jorgelina fue mi mentora, ella es una apasionada del rubro fotográfico y fue la que me enseñó todo en mis principios con la fotografía, a partir de ahí toda mi vida giró en torno a esta gran pasión. Hoy en dia hago las dos cosas
                    y, aunque por momentos es difícil combinar mis dos pasiones intento disfrutarlo siempre, haciéndolo con entusiasmo y responsabilidad. La fotografía es mi cable a tierra, mi modo de expresarme y contar cómo veo el mundo.
                </p>
            </div>
            <div>
                <img loading="lazy" class="contenedor__imagen__img" src="../public/img/img.quienesSomos/varon foto2.jpg" alt="hombre sacando una foto">
            </div>
        </section>
    </main>







    <!--inicio footer-->
    <footer class="bg-light">
        <section class="position">
            <div>
                <p>Clickeando Historias - Todos los Derechos Reservados 2021</p>
            </div>

            <nav>
                <div>
                    <picture>
                        <a href=""><img src="../public/logos/mail.svg" target="_blank" alt="mail"></a>
                        <a href="https://www.instagram.com/?hl=es" target="_blank"><img src="../public/logos/instagram.svg" alt="instagram"></a>
                    </picture>
                </div>
            </nav>
        </section>
    </footer>
    <!--fin footer-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>


</body>

</html>