.contenido__404 {
    background-image: url(../../public/img/404.img/lilly-rum-eE4YBIxSP60-unsplash.jpg);
    height: 70rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 2rem;
    &__titulo {
        padding-top: 4rem;
    }
    &__texto {
        text-align: $centrado;
        font-style: italic;
        color: black;
    }
    &__boton {
        display: flex;
        justify-content: $centrado;
        &__enlace {
            text-decoration: none;
            color: $secondary;
            font-size: 1.5rem;
            font-style: italic;
        }
    }
}